.category-card {
    width: 34vw;
    height: 150px;
    border-radius: 12px;
    padding: 16px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category-title-component {
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    letter-spacing: -0.04em;
    width: 100%;
}