.product-detail-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 16px;
    background-color: #222222;
    height: 100%;
    padding-bottom: 55px;
}

.buttons-row {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
    flex-direction: row;
    gap: 30px;
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button img {
    width: 100%;
    height: auto;
}

.product-detail-content {
    flex: 1;
}

.product-name-heading {
    font-family: 'Manrope', sans-serif;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.04em;
    color: white;
    margin-top: 0;
    margin-bottom: 6px;
    line-height: 1.5;
}

.nav-spacer {
    height: 70px;
}

.divider2 {
    height: 1px;
    background-color: #323232;
    margin: 20px 0px;
}

.delete-button-container {
    margin: 16px 0;
    display: flex;
    justify-content: center;
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.delete-button:hover {
    background-color: #ff3333;
}

.delete-button:active {
    background-color: #e60000;
}