.food-product-detail-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 16px;
    background-color: #222222;
    height: 100%;
    padding-bottom: 55px;
}

.add-product-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.add-product-button {
    background-color: #323E5D;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1),
        0px 13px 13px rgba(0, 0, 0, 0.09),
        0px 28px 17px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 300px;
}

.food-product-detail-content {
    flex: 1;
}

.product-name-heading {
    font-family: 'Manrope', sans-serif;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.04em;
    color: white;
    margin-top: 0;
    margin-bottom: 6px;
    line-height: 1.5;
}

.section-title {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-top: 0;
    margin-bottom: 16px;
}

.nav-spacer {
    height: 70px;
}

.divider2 {
    height: 1px;
    background-color: #323232;
    margin: 20px 0px;
}

.fodmap-levels {
    margin-top: 20px;
}

.fodmap-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}



.level-1 {
    background-color: #4CAF50;
    /* Green for low */
}

.level-2 {
    background-color: #FFC107;
    /* Yellow for medium */
}

.level-3 {
    background-color: #F44336;
    /* Red for high */
}

.error-message {
    color: #F44336;
    text-align: center;
    margin: 20px 0;
    font-family: 'Manrope', sans-serif;
}



.bottom-nav-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}